@model Aluno
<h2>Detalhes do Aluno @Model.Nome</h2>
<p>
    <label asp-for="Nome">Nome do aluno : </label>
    <input type="text" asp-for="Nome"/>
</p>
<p>
    <label asp-for="Idade">Idade : </label>
    <input type="text" asp-for="Idade"/>
</p>
<p>
    <label asp-for="Disciplina">Disciplina : </label>
    <input type="text" asp-for="Disciplina"/>
</p>
<p>
    <label asp-for="Nota">Nota : </label>
    <input type="text" asp-for="Nota"/>
</p>