@{
    ViewData["Title"] = "Home Page";
}
<h1>Sobre</h1>
<p>
    Simulador de notas, veja se sua nota<br>
    é aprovada ou reprovada, tenha resultados<br>
    na hora totalmente de forma rapida!
</p>

<h6>
    simulador de aprovacao de nota  <br>
    <a asp-action="Cadastro">clique aqui</a>
</h6>
